@charset "utf-8";
/* CSS Document */

/* Typography */
.headCash {
	font-family:Verdana, Verdana, Geneva, sans-serif;
	font-size:large;
	font-style:normal;
	text-align:center;
	text-shadow:#999;
	color:#FFF;
}

/* Background-Colors*/
 body {
	/*background-color:255, 0, 0; */
	background-image:url(img/hoffman.png);
}
/* mainNav {
	color:"White";
}

/*Formatting*/
/* nav {
	float:right;
	font-family:Verndada, sans-serif;
	font-size:25px;
	word-spacing:.7em;
}
a#ad {
	word-spacing:.1em
}

/*Nav Links*/
/*a:link {color:White;}
a:visited {color:#cc0000;}
a:hover {color:inherit;}
a:active {color:#cc0000;} */
